<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ site.url }}/"
    }{% if page.page_type %},
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ page.page_type | capitalize }}s",
      "item": "{{ site.url }}/{{ page.collection }}/"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ page.title | escape }}",
      "item": "{{ page.url | absolute_url }}"
    }{% endif %}
  ]
}
</script>
